.sum-total-1 {
  position: absolute;
  right: 0;
  top: 20%;
  text-align: right;
}

.sum-1 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.total-1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}


.ordered {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.track {
  color: $violet;
  background-color: $light-violet;
  padding: 8px 30px;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  right: 0;
  top: 40%;
  font-weight: bold;
}

.one-of-the-ordered {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}
