

.repeat-order {
  color: $violet;
  background-color: $light-violet;
  padding: 8px 30px;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  right: 0;
  top: 40%;
  font-weight: bold;
}


.goods-list {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 100px;
}



.calculations {
  position: absolute;
  right: 5%;
  top: 8%;
  display: flex;
  flex-direction: column;
  max-width: 280px;
}
.calculations-row-1,
.calculations-row-2,
.calculations-row-3 {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 16px;
}

.calculations-row-1,
.calculations-row-2 {
  font-size: 16px;
  line-height: 20px;
}
.calculations-row-3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
