@import "vars";
@import "global";
@import "fonts";
@import "style1";
@import "style2";


.header {
  display: flex;
  height: 60px;
  background-color: $header-grey;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  padding: 0 calc((100% - 1130px) / 2);
}

body {
  font-family: 'Source Sans Pro';
  font-weight: normal;

}

.menu-list {
  display: flex;
  color: #fff;

  li + li {
    margin-left: 147px;
    white-space: nowrap;
  }
}

.menu-list a {
  color: #fff;

}

.logo {
  background: url("../img/logo.svg") no-repeat;
  height: 45px;
  width: 144px;
  margin-left: 13px;
}

.cart {
  position: relative;
  margin-left: 147px;
  margin-right: 50px;
}

.cart-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -10px;
  top: -5px;
  border-radius: 50%;
  background: $violet;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.products-menu {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px 0;
  color: $header-grey;
  padding: 0 calc((100% - 1130px) / 2);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  cursor: pointer;
}

.aside-main-location {
  margin-top: 50px;
  display: flex;
  padding: 0 calc((100% - 1130px) / 2);
}

.private-info-title,
.orders-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin: 15px 0;
  white-space: nowrap;
}

.private-info-list,
.orders-list {
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;

  li + li {
    margin-top: 16px;
  }
}

.orders-purchased-buttons {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 18px;
}

.purchased {
  margin-left: 95px;
}

.orders-seletcting {
  margin-top: 15px;
  width: 38%;
  height: 41px;
}

.orders {
  margin-top: 50px;
}

.order-head {
  background-color: $order-head-grey;
  border: transparent solid 15px;
  position: relative;
}

.order-from {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 8px;
}

.order-number {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.status-support {
  display: flex;
  align-items: center;
}

.order-status {
  padding: 5px 15px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.order-status-completed {
  padding: 5px 15px;
  background-color: $completed-green;
  font-size: 16px;
  line-height: 20px;
}



.support-btn {
  border: none;
  background: url("../img/support-icon.svg") no-repeat;
  padding: 10px 0 10px 40px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 20px;
}

.order-info {
  background-color: $order-info-grey;
  border: transparent solid 15px;
  position: relative;

}

.order {
  margin-bottom: 70px;

}

.expected-delivery-date-title,
.curier-delievery,
.comment-title,
.recipient-title,
.address {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}

.expected-delivery-date,
.address,
.comment,
.recipient,
.recipient-phone {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}


.footer-columns {
  background-color: rgba(31, 31, 31, 0.85);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 calc((100% - 1130px) / 2) 50px;

}

.footer-column a {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 300;
}

.footer-logo-small-socials {
  height: 130px;
  background-color: $header-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 calc((100% - 1130px) / 2);

}
.copyright-sign {
  font-size: 14px;
  line-height: 18px;
}
.instagram-btn {
  background: url("../img/social-instagram-icon.svg") no-repeat;
  width: 40px;
  height: 40px;
  border: none;
}

.vk-btn {
  background: url("../img/social-vk-icon.svg") no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: 16px;
}

.facebook-btn {
  background: url("../img/social-facebook-icon.svg") no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: 16px;
}
